@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

body {
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    background-color: #f0f0f0;
    margin: 0;
}

.head-main {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    box-sizing: border-box;
    /* gap: 20px; */
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
}


h1 {
    font-size: 24px;
    color: #007BFF;
    font-weight: 1000 !important;
    margin-bottom: 20px;
    text-align: center;
}

.main {
    height: 90%;
}

.left {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* align-items: start !important; */
    /* width: 100%; */
}
.lowerLayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 14pt;
    margin-top: 30px !important;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: none !important;
}

button {
    margin-top: 30px !important;
    padding: 12px 25px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;

}

button:hover {
    background-color: #0056b3;
}
.right{
    height: 300px;
}
.box-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image{
    height: 250px !important;
    width: 250px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

@media screen and (min-width:0px) and (max-width: 998px) {
    .text-div {
        height: 70vh;
    }
}